.jumbotron {
    background-image: url('../images/newsbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 5px;
}

.header{
    padding: 20px 0;;
    text-align: center;
    color : white;
}

#mainheadingsavedarticles, #mainheadinglatestarticles{
    text-align: center;
    color: darkmagenta;
    margin-bottom: 0px;
}

hr {
    margin-bottom: 8px;
    margin-top: 5px;
    padding: 0px;
}

.articles {
    padding: 0px 15px;
    background: darkgray;
    border: 1px solid lightslategrey;
    border-radius: 10px 10px;
    margin: 0px 5px 7px 5px;
}

.articles h3{
    color: darkslateblue;
}

.articles p {
    color: black;
}

.articles a{
    text-decoration: none;
}

.articles .btnSaveArticle{
    float:right;
}

.articles .btnSaveArticle::after{
    clear: both;
    content: '';
    display: block;
}

.articles .btnSavedArticle{
    float:right;
    margin-left: 8px;
}

.articles .btnSavedArticle::after{
    clear: both;
    content: '';
    display: block;
}
