.jumbotron {
    background-image: url('../images/newsbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 0px;
}

.header{
    padding: 20px 0;;
    text-align: center;
    color : white;
}

#mainheadingsavedarticles, #mainheadinglatestarticles{
    text-align: center;
    color: lightyellow;
    padding-bottom: 5px;
}

#commentArticleHeadline {
    color: #007BFF;
    text-align: center;
}

input{
    width: 100%;
    border: 1px solid black;
    margin: 5px 0px;
}

#divmainheading{
    background-color: #007BFF;
    margin-bottom: 5px;
}

#submitComment{
    margin: 5px 0px 0px 0px;
    width: 100%;
}

.delComment{
    float:right;
    padding: 0px 5px;
    margin-top: 2px;
}

.commentList{
    height: 5vh;
    overflow: hidden;
}

.commentList:nth-child(odd){
    background-color: #dae7fa;
}

.articles {
    padding: 0px 15px;
    background: darkgray;
    border: 1px solid lightslategrey;
    border-radius: 10px 10px;
    margin: 0px 5px 7px 5px;
}

.articles h3{
    color: darkslateblue;
}

.articles p {
    color: black;
}

.articles a{
    text-decoration: none;
}

.articles .btnSaveArticle{
    float:right;
}

.articles .btnSaveArticle::after{
    clear: both;
    content: '';
    display: block;
}

.articles .btnSavedArticle{
    float:right;
    margin-left: 8px;
}

.articles .btnSavedArticle::after{
    clear: both;
    content: '';
    display: block;
}
